<nav class="cat">
    <a href="/games">All</a>
    <a href="/games/action">Action</a>
    <a href="/games/adventure">Adventure</a>
    <a href="/games/fighting">Fighting</a>
    <a href="/games/horror">Horror</a>
    <a href="/games/racing">Racing</a>
    <a href="/games/shooting">Shooting</a>
    <a href="/games/simulation">Simulation</a>
    <a href="/games/sports">Sports</a>
    <a href="/games/strategy">Strategy</a>
    <a href="/games/war">War</a>
</nav>