<div class="main">
  <h5>Dashboard</h5>
  <h3>Admin name: {{user.username}}</h3>
  <div class="stat">
    <i class="fa fa-usd money" aria-hidden="true"></i>
    <h4>30$</h4>
    <h5>Total Revenue</h5>
  </div>
  <div class="stat">
    <i class="fa fa-cart-plus sales" aria-hidden="true"></i>
    <h4>210</h4>
    <h5>Sales</h5>
  </div>
  <div class="stat">
    <i class="fa fa-eye visits" aria-hidden="true"></i>
    <h4>64,800</h4>
    <h5>Visits</h5>
  </div>
  <div class="active-users">
    <h4>Active users :</h4>
  </div>
</div>
