<div class="main">
  <h5>Dashboard/Upload</h5>
  <form class="" action="/dashboard/upload" method="post">
    <h4>Upload New Template :</h4>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="" placeholder="Category">
    <input type="text" name="" placeholder="Picture">
    <input type="text" name="" placeholder="Link">
    <input type="text" name="" placeholder="Preview">
    <input type="text" name="" placeholder="Language">
    <input type="text" name="" placeholder="Template Type ex: Responsive, Mobile First">
    <input type="text" name="" placeholder="Tag ex: Art, Culture, Sport">
    <input type="text" name="" placeholder="Languages Used ex: JS, HTML, CSS">
    <input type="text" name="" placeholder="Short Description">
    <button type="submit" name="button"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
  </form>

</div>
