<div class="about">
  <h1>ABOUT US</h1>
  <h4>PROFESSIONAL WEB DESIGNERS WORK BEST TOGETHER</h4>
  <div class="developers">
    <div class="developer">
      <img src="/images/avatar1.png" alt="">
      <h4>Sidahmed Frioui</h4>
      <hr>
      <p>Full Stack developer and</p>
      <p>Programmer/system admin.</p>
      <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="developer">
      <img src="/images/avatar2.png" alt="">
      <h4>Sidahmed Abdellaoui</h4>
      <hr>
      <p>Web designer and graphics</p>
      <p>designer/administrator.</p>
      <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
