<div class="error-pg">
  <h1>{{error}}</h1>
  <h2>Oops :(</h2>
  <div class="controlls">
    <button onclick="goBack()">Go Back</button>
    <button onclick="goHome()">Go To Home</button>
  </div>
</div>
