/* line 3, ../sass/register.scss */
body {
  font-family: 'Sansita', sans-serif;
  background-color: #e74c3c;
  background: url("/images/background.jpg") no-repeat;
  background-attachment: fixed;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
}

/* line 12, ../sass/register.scss */
form.login {
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 50px 100px 50px 100px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
/* line 21, ../sass/register.scss */
form.login a {
  color: #95a5a6;
  text-decoration: none;
  font-size: 0.8em;
  margin-right: 10px;
}
/* line 26, ../sass/register.scss */
form.login a:hover {
  color: #7f8c8d;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 31, ../sass/register.scss */
form.login a.back {
  display: block;
  padding-bottom: 20px;
}
/* line 35, ../sass/register.scss */
form.login img {
  width: 10%;
  display: block;
}
/* line 39, ../sass/register.scss */
form.login h1 {
  color: #95a5a6;
  font-family: 'Gloria Hallelujah', cursive;
}
/* line 43, ../sass/register.scss */
form.login input {
  font-family: 'Sansita', sans-serif;
  background-color: #ecf0f1;
  display: block;
  padding: 15px 100px 15px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 52, ../sass/register.scss */
form.login button {
  color: white;
  background-color: #1abc9c;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 13px 105px 10px 105px;
  margin-bottom: 20px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 61, ../sass/register.scss */
form.login button:hover {
  cursor: pointer;
  background-color: #16a085;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 67, ../sass/register.scss */
form.login i {
  color: white;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  /* line 73, ../sass/register.scss */
  form.login {
    padding: 15px 15px 15px 15px;
  }
}
