/* line 3, ../sass/style.scss */
body {
  font-family: 'Sansita', sans-serif;
  margin: auto;
  overflow-x: hidden;
}

/* line 11, ../sass/style.scss */
body {
  font-family: 'Sansita', sans-serif;
  margin: auto;
}

/* line 16, ../sass/style.scss */
nav {
  background-color: #c0392b;
  padding-top: 20px;
  padding-bottom: 30px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 21, ../sass/style.scss */
nav a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 20px 20px 10px 20px;
}
/* line 27, ../sass/style.scss */
nav a.item {
  float: right;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 30, ../sass/style.scss */
nav a.item:hover {
  color: #bdc3c7;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 35, ../sass/style.scss */
nav a.active {
  border-bottom: 2px solid white;
}
/* line 38, ../sass/style.scss */
nav a.logo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 28px;
}
/* line 42, ../sass/style.scss */
nav a.nvb-collapse {
  display: none;
}

/* line 46, ../sass/style.scss */
header {
  background-color: #e74c3c;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
/* line 51, ../sass/style.scss */
header h1 {
  color: white;
  font-size: 50px;
}
/* line 55, ../sass/style.scss */
header h4 {
  color: #ecf0f1;
  font-style: italic;
  font-size: 25px;
}

/* line 61, ../sass/style.scss */
div.features {
  text-align: center;
  background-color: #2c3e50;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 66, ../sass/style.scss */
div.features div.feature {
  background-color: #34495e;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  color: white;
  padding: 30px 30px 30px 30px;
}
/* line 73, ../sass/style.scss */
div.features div.feature i {
  font-size: 100px;
}

/* line 78, ../sass/style.scss */
div.developers {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #34495e;
  background-color: #ecf0f1;
}
/* line 84, ../sass/style.scss */
div.developers div.developer {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

/* line 89, ../sass/style.scss */
footer {
  background-color: #34495E;
  padding-top: 20px;
}
/* line 93, ../sass/style.scss */
footer div.menu ul {
  padding-bottom: 40px;
  list-style: none;
  display: inline-block;
  margin-right: 150px;
}
/* line 98, ../sass/style.scss */
footer div.menu ul li {
  margin-bottom: 10px;
}
/* line 100, ../sass/style.scss */
footer div.menu ul li a {
  color: #DADFE1;
  text-decoration: none;
}
/* line 104, ../sass/style.scss */
footer div.menu ul li h3 {
  color: white;
}
/* line 110, ../sass/style.scss */
footer div.legal-line {
  background-color: #22313F;
  padding: 30px 20px 30px 0;
  margin-bottom: 0px;
}
/* line 114, ../sass/style.scss */
footer div.legal-line h5 {
  margin-left: 30px;
  color: white;
}

/* line 120, ../sass/style.scss */
nav.cat {
  background-color: #34495e;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 124, ../sass/style.scss */
nav.cat a {
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
}

/* line 130, ../sass/style.scss */
div.social-bar {
  text-align: center;
  background-color: #34495e;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 135, ../sass/style.scss */
div.social-bar a.fb {
  color: white;
  background-color: #446CB3;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}
/* line 141, ../sass/style.scss */
div.social-bar a.yt {
  color: white;
  background-color: #D91E18;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}
/* line 149, ../sass/style.scss */
div.social-bar a.tw {
  color: white;
  background-color: #19B5FE;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}

/* line 157, ../sass/style.scss */
div.features div.feature {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 161, ../sass/style.scss */
div.features div.feature img {
  float: right;
}
/* line 164, ../sass/style.scss */
div.features div.feature div.desc {
  margin-top: 50px;
  margin-left: 100px;
  float: left;
}

/* line 171, ../sass/style.scss */
footer {
  background-color: #34495E;
  padding-top: 20px;
}
/* line 175, ../sass/style.scss */
footer div.menu ul {
  padding-bottom: 40px;
  list-style: none;
  display: inline-block;
  margin-right: 150px;
}
/* line 180, ../sass/style.scss */
footer div.menu ul li {
  margin-bottom: 10px;
}
/* line 182, ../sass/style.scss */
footer div.menu ul li a {
  color: #DADFE1;
  text-decoration: none;
}
/* line 186, ../sass/style.scss */
footer div.menu ul li h3 {
  color: white;
}
/* line 192, ../sass/style.scss */
footer div.legal-line {
  background-color: #22313F;
  padding: 30px 20px 30px 0;
  margin-bottom: 0px;
}
/* line 196, ../sass/style.scss */
footer div.legal-line h5 {
  margin-left: 30px;
  color: white;
}

/* line 202, ../sass/style.scss */
.sz-sm {
  width: 15%;
}

/* line 205, ../sass/style.scss */
.sz-md {
  width: 50%;
}

/* line 208, ../sass/style.scss */
div.error-pg {
  margin-top: 10%;
  margin-left: 10%;
}

/* line 212, ../sass/style.scss */
div.jumbotron {
  background-color: #e74c3c;
  padding: 100px 0 100px 0;
  text-align: center;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 217, ../sass/style.scss */
div.jumbotron h1 {
  color: #7f8c8d;
}

/* line 221, ../sass/style.scss */
h2.plans {
  color: #34495e;
  text-align: center;
}

/* line 225, ../sass/style.scss */
h3.c-us {
  color: #34495e;
  text-align: center;
}

/* line 229, ../sass/style.scss */
div.pricing-table {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 233, ../sass/style.scss */
div.pricing-table div.pricing {
  text-align: center;
  background-color: #ecf0f1;
  display: inline-block;
  padding: 20px 50px 20px 50px;
}
/* line 238, ../sass/style.scss */
div.pricing-table div.pricing p {
  color: #7f8c8d;
}
/* line 242, ../sass/style.scss */
div.pricing-table div.pricing p#last {
  color: #7f8c8d;
  margin-bottom: 40px;
}
/* line 246, ../sass/style.scss */
div.pricing-table div.pricing h2.price-name {
  color: #2c3e50;
}
/* line 249, ../sass/style.scss */
div.pricing-table div.pricing h3.price {
  color: white;
  background-color: #34495e;
  border-radius: 50%;
}
/* line 254, ../sass/style.scss */
div.pricing-table div.pricing h3.basic {
  color: #c0392b;
  background-color: transparent;
  border: 3px solid #c0392b;
  padding: 40px 10px 40px 10px;
}
/* line 260, ../sass/style.scss */
div.pricing-table div.pricing h3.plus {
  color: white;
  background-color: #2980b9;
  border: 3px solid #2980b9;
  padding: 40px 10px 40px 10px;
}
/* line 266, ../sass/style.scss */
div.pricing-table div.pricing h3.business {
  color: #16a085;
  background-color: transparent;
  padding: 40px 0px 40px 0px;
  border: 3px solid #16a085;
}
/* line 272, ../sass/style.scss */
div.pricing-table div.pricing a.basic {
  background-color: #c0392b;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 278, ../sass/style.scss */
div.pricing-table div.pricing a.basic:hover {
  background-color: #e74c3c;
}
/* line 282, ../sass/style.scss */
div.pricing-table div.pricing a.plus {
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 288, ../sass/style.scss */
div.pricing-table div.pricing a.plus:hover {
  background-color: #3498db;
}
/* line 292, ../sass/style.scss */
div.pricing-table div.pricing a.business {
  background-color: #16a085;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 298, ../sass/style.scss */
div.pricing-table div.pricing a.business:hover {
  background-color: #1abc9c;
}
/* line 303, ../sass/style.scss */
div.pricing-table div.plus {
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
}

/* line 307, ../sass/style.scss */
form.contact-us {
  text-align: center;
  background-color: #3498db;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* line 313, ../sass/style.scss */
form.contact-us input {
  background-color: #ecf0f1;
  display: block;
  padding: 15px 10px 15px 30px;
  border: none;
  width: 49.2%;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 322, ../sass/style.scss */
form.contact-us textarea {
  background-color: #ecf0f1;
  display: block;
  padding: 15px 10px 15px 30px;
  width: 49.2%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* line 331, ../sass/style.scss */
form.contact-us button {
  color: white;
  background-color: #2980b9;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 13px 86px 10px 86px;
  margin-bottom: 20px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 340, ../sass/style.scss */
form.contact-us button:hover {
  cursor: pointer;
  background-color: #3498db;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 347, ../sass/style.scss */
div.list {
  display: inline-block;
  background-color: #ecf0f1;
  padding: 20px 20px 20px 20px;
  margin: 20px 0 20px 20px;
  width: 94%;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 355, ../sass/style.scss */
div.list h2 {
  color: #2c3e50;
}

/* line 359, ../sass/style.scss */
div.templates {
  text-align: center;
  padding-bottom: 50px;
}
/* line 362, ../sass/style.scss */
div.templates div.template {
  display: inline-block;
  background-color: #ecf0f1;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 0px 5px 0px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* line 369, ../sass/style.scss */
div.templates div.template img {
  width: 288px;
  height: 400px;
}
/* line 373, ../sass/style.scss */
div.templates div.template a.name {
  color: #2980b9;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 378, ../sass/style.scss */
div.templates div.template a.name:hover {
  color: #3498db;
}
/* line 382, ../sass/style.scss */
div.templates div.template h5 {
  text-align: left;
  color: white;
  background-color: #e74c3c;
  padding: 10px 10px 10px 10px;
  margin: 0;
}
/* line 389, ../sass/style.scss */
div.templates div.template h3.rank {
  color: #2c3e50;
  margin-bottom: 50px;
}
/* line 393, ../sass/style.scss */
div.templates div.template h3.pricee {
  color: #2c3e50;
  margin-top: 40px;
  display: block;
}
/* line 398, ../sass/style.scss */
div.templates div.template a.dp {
  color: white;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  border-radius: 5px;
}
/* line 404, ../sass/style.scss */
div.templates div.template a.download {
  background-color: #16a085;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 407, ../sass/style.scss */
div.templates div.template a.download:hover {
  background-color: #1abc9c;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 412, ../sass/style.scss */
div.templates div.template a.preview {
  background-color: #2980b9;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 415, ../sass/style.scss */
div.templates div.template a.preview:hover {
  background-color: #3498db;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 422, ../sass/style.scss */
div.about {
  text-align: center;
  color: white;
  background-color: #e74c3c;
  margin: 0;
  padding: 45px 0 45px 0;
}
/* line 428, ../sass/style.scss */
div.about div.developers {
  background-color: #c0392b;
  -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12), 3px 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12), 3px 3px 6px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12), 3px 3px 6px rgba(0, 0, 0, 0.24);
}
/* line 431, ../sass/style.scss */
div.about div.developers div.developer {
  display: inline-block;
}
/* line 433, ../sass/style.scss */
div.about div.developers div.developer img {
  width: 20%;
  border-radius: 50%;
}
/* line 437, ../sass/style.scss */
div.about div.developers div.developer p {
  color: #ecf0f1;
}
/* line 440, ../sass/style.scss */
div.about div.developers div.developer hr {
  color: #ecf0f1;
  background: #ecf0f1;
  border: 0;
  height: 1px;
  margin: 1em 0 2em;
}
/* line 447, ../sass/style.scss */
div.about div.developers div.developer a {
  color: white;
}
/* line 449, ../sass/style.scss */
div.about div.developers div.developer a:hover {
  color: #ecf0f1;
}
/* line 453, ../sass/style.scss */
div.about div.developers div.developer h4 {
  color: #ecf0f1;
}

/* line 459, ../sass/style.scss */
nav.warning {
  background-color: #c0392b;
  margin: 0;
  padding: 10px 0 10px 0;
}
/* line 463, ../sass/style.scss */
nav.warning h4 {
  color: white;
  margin-left: 20px;
}

/* line 468, ../sass/style.scss */
div.user {
  background-color: #e74c3c;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 473, ../sass/style.scss */
div.user h3 {
  color: white;
}

/* line 477, ../sass/style.scss */
form.search {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 480, ../sass/style.scss */
form.search input {
  font-family: 'Sansita', sans-serif;
  color: #2c3e50;
  display: inline-block;
  padding: 8px 100px 12px 20px;
  font-size: 18px;
  border: none;
  margin-right: -3px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  vertical-align: middle;
}
/* line 492, ../sass/style.scss */
form.search button {
  background-color: #1abc9c;
  color: white;
  margin-left: -10;
  display: inline-block;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 13px 30px 13px 30px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 502, ../sass/style.scss */
form.search button:hover {
  background-color: #16a085;
  cursor: pointer;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 510, ../sass/style.scss */
nav.m a {
  display: inline-block;
}

/*
* Media queries
*/
@media (max-width: 896px) {
  /* line 520, ../sass/style.scss */
  a.item {
    visibility: hidden;
    display: none;
  }

  /* line 524, ../sass/style.scss */
  a.logo {
    margin-top: -20px;
  }

  /* line 527, ../sass/style.scss */
  nav.main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 530, ../sass/style.scss */
  nav.main a.nvb-collapse {
    visibility: visible;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  /* line 538, ../sass/style.scss */
  nav.cat a {
    display: block;
  }
}
@media (max-width: 600px) {
  /* line 544, ../sass/style.scss */
  a.item {
    visibility: hidden;
  }

  /* line 547, ../sass/style.scss */
  a.logo {
    margin-top: -20px;
  }

  /* line 550, ../sass/style.scss */
  nav.main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 553, ../sass/style.scss */
  nav.main a.nvb-collapse {
    visibility: visible;
  }

  /* line 558, ../sass/style.scss */
  nav.cat a {
    display: block;
  }
}
@media (max-width: 1320px) {
  /* line 565, ../sass/style.scss */
  nav.cat a {
    display: block;
  }

  /* line 569, ../sass/style.scss */
  a.logo {
    margin-top: -20px;
  }
}
